<% if book.favorited_by?(current_user) %>
  <%= link_to book_favorites_path(book.id), method: :delete, remote:true do %>
  <span style="color:red;">♥<%= book.favorites.count %></span>
  <% end %>
<% else %>
  <%= link_to book_favorites_path(book.id), method: :post, remote:true do %>
  ♥<%= book.favorites.count %>
  <% end %>
<% end %>